<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
                        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd"
                        default-autowire="byName" default-lazy-init="false">

    <!-- performance-dao 配置文件 -->
    <import resource="applicationContext-performance-dao.xml"/>

    <bean id="performanceNetService" name="performanceNetService" class="com.mynms.performance.service.PerformanceNetService" scope="prototype">
        <property name="DAO" ref="performanceNetDAO"></property>
    </bean>

    <bean id="performanceHostService" name="performanceHostService" class="com.mynms.performance.service.PerformanceHostService" scope="prototype">
        <property name="DAO" ref="performanceHostDAO"></property>
    </bean>

    <bean id="performanceDBService" name="performanceDBService" class="com.mynms.performance.service.PerformanceDBService" scope="prototype">
        <property name="DAO" ref="performanceDBDAO"></property>
    </bean>

    <bean id="performanceEnvService" name="performanceEnvService" class="com.mynms.performance.service.PerformanceEnvService" scope="prototype">
        <property name="DAO" ref="performanceEnvDAO"></property>
    </bean>
</beans>